body {
    background-color: rgb(255, 225, 195);
    text-align: justify;
}
h1 {
    text-align: center;
    color: rgb(185, 155, 120);
}
h2 {
    color: rgb(180, 125, 95);
    background-color: antiquewhite;
}
h3 {
    color: rgb(172, 148, 116);
}
h4 {
    color: rgb(190, 165, 115);
}
